
    .main {
        display: flex;
        justify-content: center;
        margin-top: 30vh;
    }

    .mainContent {
        display: flex;
    }

    .h1 {
        color: var(--text-muted);
        font-size: 5rem;
    }